html { 
  height: 100%; 
}
body {
  font-family: 'Roboto', sans-serif;
}
.section-line {
  border-bottom: #e1e1e1 solid 2px;
  padding-bottom: 45px;
}
.wrapper {
  width: 1220px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
 
}
/* header */

.main-header {
  min-width: 1220px;
  padding-top: 48px;
  background-color: #eeeeee;
  text-transform: uppercase;
}
.header {
  display: grid;
  grid-template-columns: 160px 760px 160px;
  column-gap: 40px;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  display: block;
  width: 160px;
  height: 67px;
  background-image: url(../svg/nerds-logo.svg);
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.5;
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding: 0;
  align-items: center;
}
.nav__item {
  margin: 0 23px;
}
.nav__item__link {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.nav__item__link:hover {
  color: #fb565a;
}
.nav__item__link:active {
  color: #a6a6a6;
}
.cart {
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  position: relative;
  font-weight: 500;
  transition: 0.3s ease-out;
  text-align: end;
  width: 160px;
}
.cart:hover {
  color: #fb565a;
}

.cart::before {
  content: '';
  position: absolute;
  background-image: url(../svg/cart-icon.svg);
  display: block;
  width: 15px;
  height: 15px;
  left: 55px;
}
.cart:active {
  color: #a6a6a6;
}

/* welcome-section */
.welcome-section {
  background-color: #eeeeee;
  min-width: 1220px;
}
.welcome-container {
  padding-top: 18px;
  display: grid;
  grid-template-columns: 420px auto;
  column-gap: 13px;
}
.pros__header {
  font-weight: 500;
  font-size: 55px;
  line-height: 1em;
  color: #000;
  margin-bottom: 26px;
}
.pros__text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: normal;
  color: #283136;
  font-weight: 400;
}
.image-phones {
  width:fit-content;
  height: fit-content;
}
.btn {
  display: inline-block;
  padding: 16px 55px;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
  margin-top: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn:hover {
  background-color: #e74246;
}
.btn:active {
  background-color: #d7373b;
  color: #e26c6e;
}

/* PRODUCTS */

.product {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  position: relative;
  margin-top: 80px;
  padding-bottom: 76px;
}
.product__item {
  width: 300px;
}
.product__item h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: px;
}

.btn_red {
  padding: 16px 40px;
}
.btn_green {
  background-color: #00ca74;
  padding: 16px 40px;
}
.btn_green:hover {
  background-color: #00bc6c;
}
.btn_green:active {
  background-color: #00aa62;
  color: #4dc491;
}
.btn_yellow {
  background-color: #efc84a;
  padding: 16px 40px;
}
.btn_yellow:hover {
  background-color: #eab534;
}
.btn_yellow:active {
  background-color: #e5a722;
  color: #edc265;
}


/* Company */

.company {
  display: grid;
  grid-template-columns: 660px 360px;
  column-gap: 140px;
  margin-top: 40px;
  padding-bottom: 60px;
}
.company__title {
  font-size: 45px;
  font-weight: 500;
  margin: 25px 0;
  margin-bottom: 40px;
}
.company__header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 45px;
}
.company__item {
  position: relative;
  list-style-type: none;
  margin-top: 30px;
}
.company__item::before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  max-width: 25px;
  background-color: #fb565a;
  left: -35px;
  top: 40%;
}
.company-statistics {
  margin-left: auto;
  width: 360px;
}
.company-statisctics__header {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.company-statistics__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
}
.company-statistics__item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.company-statistics__percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  margin: 50px 0 10px;
}
.company-statistics__percent sup {
  font-size: 26px;
  font-weight: bold;
}

/* CLIENTS */
.clients {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 50px;
  margin: 0;
  padding: 45px 0 0px;
  align-items: center;
  justify-content: start;
}
.clients__item {
  list-style-type: none;
  position: relative;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__item:not(:nth-child(4n + 4))::after {
  content: '';
  display: block;
  background-color: #e1e1e1;
  position: absolute;
  width: 2px;
  height: 50px;
  transform: translateY(-25px);
  left: 270px;
  top: 50%;
}
.clients__image {
  opacity: 0.4;
  transition: 0.3s;
}
.clients__image:hover {
  opacity: 1;
}
.clients__item:active {
  opacity: 0.3;
}

/* MAP */

.office {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 1220px;
  max-width: 1440px;
  height: 416px;
}
.map {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  
}
.contacts {
  margin-top: 55px;
  background-color: #fff;
  padding: 40px 45px 47px;
  box-sizing: border-box;
}
.map__marker {
  position: absolute;
  left: 58%;
  transform: translateY(-10px)
}
.contacts__header {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 35px;
}
.contacts__text {
  color: #a6a6a6;
}
.contacts__link {
  text-decoration: none;
  color: #a6a6a6;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  height: 217px;
  align-items: center;
}
.icons {
  display: flex;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  transition: 0.3s ease-out;
  margin-right: 10px;
}
.icons__item:hover {
  background-color: #e74246;
}
.icons__item:active {
  background-color: #d7373b;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) inset;
}
.footer__text {
  margin-left: 130px;
}
.footer__text__header {
  font-size: 36px;
  font-weight: bold;
  line-height: 0.1;
}

/* CATALOG PAGE */
.catalog {
  margin: 55px;
}
.catalog-header {
  text-align: center;
  padding-bottom: 100px;
}
.form-catalog {
  width: 260px;
}
.form-catalog__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 35px;
}
.form-catalog__legend {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.price__filter {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
}
.price__filter-range {
  background-color: #d7dcde;
  height: 2px;
  margin: 0 auto;
  max-width: 190px;
  width: 100%;
  position: relative;
}
.price__filter-range_usage {
  background-color: #00ca74;
  height: 2px;
  width: 74%;
}
.price__button {
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  position: absolute;
  padding: 0;
  background-color: #a6a6a6;
  border: 8px solid #fff;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translateY(-10px);
}
.price__button_max {
  transform: translate(130px, -10px);
}

.price__interval {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 14px;
}
.price__label {
  text-transform: uppercase;
}
.price__input-control {
  background-color: #eeeeee;
  width: 80px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  margin-left: 6px;
}
.price__label_to {
  text-align: right;
}
